img#brand {
    height: 32px;
}

p.lead {
    font-size: 24px;
}

div.features h3 {
    text-align: center;
}

div.features img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.428571429;
}

h1 {
    font-size: 29px;
    font-weight: 600;
}

h2 {
    font-size: 26px;
    font-weight: 400;
}

h3 {
    font-size: 23px;
    font-weight: 400;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}
