<li class="active">
  <a href="#">{{ page.project-name }}</a>
</li>

{% if page.menu_items contains 'lightning' %}
<li>
  <a href="/assets/{{ page.link }}/lightning" target="blank">Lightning Talk &nbsp;
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
</li>
{% endif %}

<li>
{% if page.menu_backurl %}
<a href="{{ page.menu_backurl }}">
  {% if page.menu_backtext %}
  {{ page.menu_backtext }}
  {% else %}
  Back
  {% endif %}
</a>
{% else %}
  <a href="/tutorials">Back to tutorials</a>
{% endif %}
</li>
