<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <script src="/js/radanalytics-analytics.js"></script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title | default: "radanalytics.io developers" }}</title>

    <!-- PatternFly -->
    <link rel="stylesheet" href="/bower_components/patternfly/dist/css/patternfly.min.css">
    <link rel="stylesheet" href="/bower_components/patternfly/dist/css/patternfly-additions.min.css">

    <link rel="stylesheet" href="/css/radanalytics.css">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-pf" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img id="brand" src="/img/brand-radanalytics.svg" alt="radanalytics logo">
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-1">
          <ul class="nav navbar-nav navbar-utility hidden-xs">
            <li>
              <a href="https://github.com/radanalyticsio/radanalyticsio.github.io" target="blank">Edit me on GitHub</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-primary">
            {% include {{ page.menu_template }} %}
          </ul>
        </div>
    </nav>

    {{ content }}

    <!-- pad out the bottom -->
    <div style="padding-bottom: 4em;"></div>

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- PatternFly -->
    <script src="/bower_components/patternfly/dist/js/patternfly.min.js"></script>

    <!-- Clipboard -->
    <script src="/bower_components/clipboard/dist/clipboard.min.js"></script>
    <script src="/js/radanalytics-clipboard.js"></script>

    <!-- Expandable List Rows -->
    <script src="/js/radanalytics-listrows.js"></script>

  </body>
</html>
